{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %} 
{% block body %}
<div class="container">
    <h1 class="center">Modification de votre mot de passe</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Enregistrer</button>
    <button class="btn btn-primary"><a href="{{ path('account_profil') }}" style="color:white; text-decoration:none;">Retour sur la page de modification du profil</a></button>
    {{ form_end(form) }}
</div>
{% endblock %}