{% extends 'base.html.twig' %}

{% block title %}Modification du profil{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %} 
{% block body %}
    <div class="container">
        <h1>Modifiez vos informations</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Enregistrer</button>
        <button class="btn btn-primary"><a href="{{ path('account_password') }}" style="color:white; text-decoration:none;">Modifier votre mot de passe</a></button>
        {{ form_end(form) }}

    </div>

{% endblock %}