<footer class="mt-5 mb-0 bg-dark py-5 center">
    <p style="color:white;">Copyright "Votre entreprise"</p>
    <p style="color:white;"><a href="http://www.ericdelangle.fr" style="color:white;">Site réalisé par ericdelangle.fr</a></p>
</footer>