{% extends 'base.html.twig' %}

{% block title %}Mes qualifications{% endblock %}

{% block body %}
    <h1 style="text-align:center;">Mes qualifications et mon experience professionnelle.</h1>
    <div class="container center">
   
        {% for qualif in qual %}
      
            {{ qualif.name }}
            {{ qualif.ecole }}
           
        {% endfor %}
        
    </div>
    
{% endblock %}
