{% extends 'base.html.twig' %}

{% block title %}Nouveau chantier{% endblock %}

{% block body %}
<div class="container">
    <h1>Créer un nouveau chantier:</h1>

    {{ include('admin/travaux/_form.html.twig') }}

    <button class="btn btn-primary"><a href="{{ path('travaux_index') }}" style="color:white;">Retour à la liste</a></button>
</div>
{% endblock %}
